*{
  box-sizing: border-box;
}

#wrapper
{
  padding-top: 200px;
  background-color: #fff;
 color:#fff;
 position:absolute;
 top:0px;
 right:0px;
 bottom:0px;
 left:0px;
}

body{
 
  margin:0;
  background-color: #fa8231;
  color: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  text-align: center;
}

.flex{
  display:flex;
  align-items: center;
  justify-content: center;
  
}


 button {
  background-color: transparent;
  cursor: pointer;
  color:#fff;
  padding : 10px 15px;
  margin :10px;
  font-size:20px;
  border: 2px solid #fff;
}


.actions-wrapper span{
  font-size: 40px;
  margin: 0 10px;
  width :50px;
}

.App {
  text-align: center;
}

.timer-container{
  margin: -50px 20px 20px;
}

.timer-container h2{
  margin:0 ;
}
.clock-container{
  border: 2px solid #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  width : 400px;
  margin-top: 20px;
}

.clock-container span{
  font-size :60px;
}
.clock-container h1{
  margin :0;
  
}

